{% extends "script_viewer/base.html" %}
{% load staticfiles %}
{% block app_navigation_items %}
<div id='save'>
    <div id='inputs'>
        <h4>Editor Options</h4>
        Theme:
        <select id='theme'>
            <option value="chaos">Chaos</option>
            <option value="chrome">Chrome</option>
            <option value="cobalt">Cobalt</option>
            <option value="github">GitHub</option>
            <option value="terminal">Terminal</option>
        </select>
        <p></p>
        Font:
        <select id='font'>
            <option value="10pt">10 px</option>
            <option value="11pt">11 px</option>
            <option value="12pt">12 px</option>
            <option value="14pt">14 px</option>
            <option value="16pt">16 px</option>
            <option value="26pt">26 px</option>
            <option value="28pt">28 px</option>
        </select>
        <p></p>
        <!--Split:-->
        <!--<select id='split'>-->
            <!--<option value="10pt">10 px</option>-->
            <!--<option value="11pt">11 px</option>-->
            <!--<option value="12pt">12 px</option>-->
            <!--<option value="14pt">14 px</option>-->
            <!--<option value="16pt">16 px</option>-->
            <!--<option value="26pt">26 px</option>-->
            <!--<option value="28pt">28 px</option>-->
        <!--</select>-->
        <!--<p></p>-->
    </div>
    <p></p>

</div>
<hr>
{% endblock %}

{% block app_content %}
<div id="error-message"></div>
<div id='tabs'>
    <ul id='list' class="tab"></ul>
</div>
<div id='content_tab'></div>
<div class="modal fade" id="save_as" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Pleae give the file a name</h4>
            </div>
            <div class="modal-body">
                <div id="hello2">
                    <div class="form-group">
                        <label for="usr">File name:</label>
                        <input type="text" id="File_name" class="form-control" id="usr">

                        <div id='resource_name'></div>
                        Extension:
                        <select id='ext'>
                            <option value=".py">.py</option>
                            <option value=".r">.r</option>
                            <option value=".m">.m</option>
                            <!--<option value=".txt">.txt</option>-->
                        </select>
                        <p></p>
                        <button class="btn btn-primary" id="change_unit" onclick="save_as()">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-popup1" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal  -->
<!--<button id = 'hello'  type="button" class="btn btn-primary">Primary</button>-->
<div class="modal fade" id="instructions" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Instructions</h4>
            </div>
            <div class="modal-body">
                <div id="welcome-info2">
                     <!--<h6>Instructions</h6>-->
                    <ol>
                        <p>All files are automatically displayed</p>
                        <p>Click the hamburger button in the top left to display more viewing options</p>
                        <!--<p>Select the Script Viewer from the available list of web apps</p>-->
                        <!--<a class="btn btn-default" href='http://bcc-hiswebclient.azurewebsites.net'>Go to CUAHSI HydroClient website</a>-->
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <div id="byu-logo-container2">
                    <img src="{% static 'script_viewer/images/byu-medallion.png' %}"/><span><i>Developed at the BYU
                    Hydroinformatics Lab</i></span>
                </div>
                <button type="button" class="btn btn-default" id="close-popup2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<div class="modal fade" id="welcome-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to the Script Viewer</h4>
            </div>
            <div class="modal-body">
                <div id="welcome-info">
                    <p>
                        <!--This app should be launched from the HydroClient page on <a href='http://bcc-hiswebclient.azurewebsites.net'>CUAHSI</a>-->
                        This app should be launched from the HydroShare page on <a href='https://www.hydroshare.org/'>HydroShare</a>
                    </p>
                    <ol>
                        <h6>1. Go to the HydroShare page</h6>
                        <p>Search for the resource of interest</p>

                        <h6>2. Select the desired resource</h6>
                        <p>Select the desired resource </p>

                        <h6>3. Launch the Script Viewer</h6>
                        <p>Select the Script Viewer from the available list of web apps</p>
                        <!--<a class="btn btn-default" href='http://bcc-hiswebclient.azurewebsites.net'>Go to CUAHSI HydroClient website</a>-->
                        <a class="btn btn-default" href='https://www.hydroshare.org/'>Go to HydroShare website</a>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <div id="byu-logo-container">
                    <img src="{% static 'script_viewer/images/byu-medallion.png' %}"/><span><i>Developed at the BYU
                    Hydroinformatics Lab</i></span>
                </div>
                <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id=loading>
    <!--http://cssload.net/-->
    <!--<img src="/static/timeseries_viewer/images/main-loading-anim.gif" />-->
    <div class="cssload-loader">
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
    </div>

</div>

{% endblock %}
{% block app_actions %}

<button type="button" class="btn btn-default" id="btn_instructions" data-dismiss="modal">Instructions</button>
{% endblock %}
{% block scripts %}
<!--<script src="{% static 'r_script_viewer/js/theme-twilight.js' %}"></script>-->
<!--<script src="{% static 'r_script_viewer/js/mode-r.js' %}"></script>-->
<!--<script src="{% static 'r_script_viewer/js/ace.js' %}"></script>-->
<script src="{% static 'script_viewer/js/src-min/ace.js'%}" type="text/javascript" charset="utf-8"></script>
<!--<script src = "https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
{{ block.super }}

{% endblock %}